.stats h2 {
    position: relative;
    top: 115px;
}
.stats{
  max-height: 150px;
}
.stat h1{
  color: #000;
  margin-bottom: -50px;
  font-size: 3.5em
}
.stats canvas{
  border-bottom: #000 solid 2px;
  max-height: 150px;
}
